<div
  style="
    background: #eee;
    padding: 30px;
    text-align: center;
    font-family: Arial;
    color: #B9625D;
  "
>
<img style="width: 80px; height: auto;" src="cid:logo2"/>
  <h1 style="color: #B9625D;">Emergency Alert</h1>
</div>
<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= receiver %></h3>
  <p><%= profile.firstName %> had set status to emergency! Here is <%= profile.firstName %>'s information:</p>
  <div
  style="
    background: #eee;
    padding: 15px 10px;
    font-family: Arial;
  "
>
<p>First Name: <%= profile.firstName %></p>
<p>Last Name: <%= profile.lastName %></p>
<p>Birthdate: <%= profile.birthdate %></p>
<p>Phone: <%= profile.phone %></p>
<p>Email: <%= profile.email %></p>
<p>Drug Allergy:</p>
<ul>
  <% for (let i = 0; i < profile.drugAllergy.length; i++) { %>
    <li><%= profile.drugAllergy[i] %></li>
  <% } %>
</ul>
<p>Health Condition:</p>
<ul>
  <% for (let i = 0; i < profile.healthCondition.length; i++) { %>
    <li><%=profile.healthCondition[i] %></li>
  <% } %>
</ul>
</div>

<p>The Best,</p>
<p>ESN Community</p>
  
</div>

<div
  style="
    background: #eee;
    padding: 15px 0;
    text-align: center;
    font-family: Arial;
  "
>
<img style="width: 200px; height: auto;" src="cid:logo1"/>
</div>